.l-container {
    width: 1170px;
    margin: 0 auto;
}

$color-purple: #c04ae2;

$color-black: #111111;

$color-grey: #5e5858;

.flex {
    display: flex;
}

button {
    width: 240px;
    font-size: 24px;
    color: #fff;
    background-color: $color-purple;
    line-height: 72px;
    border-radius: 10px;
    border-color: transparent;
}

.c-title1 {
    display: none;
}