.rectangle {
    display: flex;
    justify-content: space-between;
    div {
        width: 370px;
        height: 500px;
        border: 6px solid transparent;
        border-radius: 10px;
        margin-top: 116px;
        padding: 216px 48px 0;
        text-align: center;
        h3 {
            font-size: 30px;
            line-height: 42px;
            color: $color-black;
        }
        p {
            margin-top: 19px;
            font-size: 20px;
            line-height: 28px;
            color: $color-grey;
        }
    };
}
