.c-modal {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#btn {
    margin-top: 1em;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    .modalContent {
        margin: 0;
        background-color: #fff;
        width: 300px;
        height: 150px;
        padding: 16px;

        p {
            font-size: 16px;
            line-height: 26px;
            margin: 16px 0;
        }

        .btns {
            float: right;
            button {
                font-size: 12px;
                line-height: 26px;
                padding: 5px 16px;
                cursor: pointer;
                color: #fff;
                border: 0px;
                border-bottom: 1px solid #000;
                border-right: 1px solid #000;
                font-weight: bold;
                
            }
            button:nth-child(1) {
                background-color: #41bbfc;
            }
            button:nth-child(2) {
                background-color: #f5634b;
            }
            button:nth-child(3) {
                background-color: #3fcc34;
            }
            button:nth-child(4) {
                background-color: #9471da;
            }
        }
    }
}

